
.btn-two {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.5);
  color: black;
  text-decoration: none;
  border-width: medium;
  border-color: black;
  height: 50px;
  width: 200px;
  position: relative;
  overflow: hidden; /*permet de cacher ce qu'il y a autours de ce boutton*/
  display: inline-block;
  text-align: center;
  line-height: 3;
  transition: all 400ms ease-in-out; /*effet de transition*/
}

.btn-two::before {
  position: absolute;
  background-color: blue;
  color: orange;
  height: 100%;
  width: 100%;
  top:0;
  left: 100%;
  transition: left 200ms ease-in-out 200ms;
}

.btn-two:hover::before{
  left: 0;
  }

.btn-two:hover .top-two{
    left: -200px;
}

.btn-two:hover .bottom-two{
  left: 0;
}

.content-two {
  transition: left 200ms;
}

.content-two.top-two {
  left: 0;
}
.content-two.bottom-two {
  left: -200px;
}

.btn-two .content-two {
  width: 100%;
  text-align: center;
  display: block;
  position: absolute;
  z-index: 100;
}
