.contact{
  height: 100%;
  width: 100%;
  background: url('img/contact.jpg') no-repeat;
  background-size: cover;
}
.contact-two{
  margin-top: 80px;
}
/*EXERCICE 2*/

input{ /*postions absolute, afin d'insérer les éléments dans le formulaire*/
  position: absolute;
}
label{
  position: absolute;
}

.form-field{
  position: relative;
  border-width: 0px;
}

.form-label{
  color: grey;
  font-family: 'Lato', sans-serif;
  margin-left: 5px;
  margin-top: 5px;
  transition: all 800ms ease-in-out; /*toute transition sur le form-label y seras affecté*/
}

.form-control{
  height: 50px;
}

.msg{
  height: 200px;
}

.form-input:focus + .form-label{
/*focus qd on va input qui va influencer sur le form-label*/

  color: #ff0097;/*En effet la couleur du texte va devenir bleu*/
  transform: translateY(-30px) scale(0.8); /*Et le texte va se décaler en haut, et devenir 0.8x plus petit*/

}

.mail{
  margin-top: 70px;
}
